<h1> <%= @bachelorette.name %> </h1>

Season <%= @bachelorette.season_number %> - <%= @bachelorette.description %>

<%= link_to "Bachelorette's Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
Average Age of Contestants: <%= @bachelorette.average_age_of_contestants %>
